body {
    font-family:georgia;
    background-color:beige;
    padding:5px;
    text-align:center;
}

h1 {
    color:green;
}

h1 span {
    color:navy;
}

#phrase {
  margin-top:100px;
  font-size:250%;
}

#readme {
  margin:10px 50px;
  padding:10px;
  border-style:solid;
  font-size:125%;
}

.footer {
  position:fixed;
  bottom:0px;
  width:100%;
  text-align: center;
}

a:visited {
    text-decoration:none;
    color:inherit;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:active {
    text-decoration:none;
}
