body {
    font-family:georgia;
    background-color:beige;
    padding:5px;
    text-align:center;
}

h1 {
    color:green;
}

h1 span {
    color:navy;
}

#phrase {
  font-size:250%;
}

.footer {
  position:fixed;
  bottom:0px;
  width:100%;
  text-align: center;
}

a:visited {
    text-decoration:none;
    color:inherit;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:active {
    text-decoration:none;
}
